.node {
  stroke: #333;
  stroke-width: 1px;
}

.node text {
  fill: #000;
  stroke-width: 0px;
}

.host {
  fill: #66b2ff;
  cursor: pointer;
  transition:
    stroke 0.2s ease,
    stroke-width 0.2s ease;
}

.host.selected {
  filter: brightness(1.2);
}

.host:hover {
  stroke: #000;
  stroke-width: 2px;
}

.router {
  fill: #ffcc66;
}

.edge {
  stroke: #555;
  stroke-width: 1.5px;
}

.subnet {
  fill: lightblue;
  stroke: #3399ff;
  stroke-width: 2px;
}

.dimmed {
  opacity: 0.8;
  filter: blur(2px);
  transition: all 0.2s;
}
